*{
    padding: 0;
    border:0 ;
    margin: 0;
    box-sizing: border-box;
}

/* ======================================================== */
/* the main body starts from here onwards */

#BigContainer{
    width: 100%;
    height: 100vh;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ======================================================== */
/* container1 starts here */

#container1{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

/* the "me" container inside container 1 */

#me{
    width: 20%;
    height: 40%;
    margin-top: 5%;
    background-color: blueviolet;
}

/* the "computer" container inside contianer 1 */

#computer{
    margin-top: 5%;
    width: 20%;
    height: 40%;
    background-color: blueviolet;
}


/* ========================================================== */
/* container 2 starts here */

#container2{
    width: 100%;
    height: 100vh;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
